  <xmlOMConfig>
      <sid>{{id}}</sid>
      <gateway>b1_gw_{{gw_num}}:8090</gateway>
      <game_id>94</game_id>
      <first_open_time>{{om_first_open_time}}</first_open_time>
      <server_key>7lmoyXcUZy4dbpGy</server_key>
      <log_address>127.0.0.1</log_address>
      <log_port>8180</log_port>
      <scribe_address>127.0.0.1</scribe_address>
      <scribe_port>1463</scribe_port>
      <web>127.0.0.1:5017</web>
      <start_date>{{om_start_date}}</start_date>
      <end_date>{{om_end_date}}</end_date>
      <server_name>{{om_server_name}}</server_name>
      <wlist>{{om_wlist}}</wlist>
      <blist></blist>
      <cross></cross>
      <cross_pk>1</cross_pk>
      <account></account>
      <account_redis></account_redis>
      <CrossUserGB>1</CrossUserGB>
  </xmlOMConfig>
